body {
    background-color: rgb(250,224,185);
    font-family: sans-serif;

  }
  main{
    padding-top: 50px;
  }
  
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(105, 20, 20);
    border-bottom: 3px solid;
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    font-family: Impact ,'Arial Narrow Bold', sans-serif;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 3px;
    
  }
  
  nav li {
    display: inline-block;     
  }
  
  nav a {
    color: black;
    text-decoration: none;
    color: white;
    padding: 7px;

  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    border-top: 3px solid;
    background-color: rgb(105, 20, 20);

  }

  footer p {
    color:white
  }
  
  
  .firstheading {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid;
    box-shadow: 5px 5px #7903039a;
  }
  
  .football, .code, .Marvel, .gym img, .Aboutme img {
    height: 120px;
    width: 120px;
    border-style: groove;
    border-width: 20%;
    border-color: rgb(10,9,10);
    border-radius: 1.2em;

  }
  
  .gym img {
    width: 350px;
    height: 190px;
    
  }
  
  .Interests, .gym , .Aboutme{
    display: flex;
    justify-content: center;


  }

  .gym {
    margin-top: 40px;
  }



  /* image second page  */
  .Aboutme {
    flex-direction: row;
    align-items: center;

  }

  .Aboutme img {
    height: 250px ;
    width: 300px;
    border-style: groove;
    border-width: 20%;
    border-color: rgb(10,9,10);
  }

  /* About me header */
  .secondpage {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid;
    box-shadow: 5px 5px #7903039a;
    margin-left: 10px;
    margin-right: 10px;
  }

  .Textme{
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 120%;
    margin-left: 10px;
    margin-bottom: 20px;
    
  }

  .Likey{
    display: inline-block;
    width: 450px;
    justify-content: center;
    border: 2px solid;
    box-shadow: 5px 5px #7903039a;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

  }

  .Likey p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
        border-bottom: 2px solid;
    border-top: 2px solid;
  }


  .Likey li {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  }

  .Hatey{
    width: 450px;
    display: inline-block;
    border: 2px solid;
    box-shadow: 5px 5px #7903039a;
    margin-left: 10px;
    margin-right: 10px;
  }

  .Hatey p {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 2px solid;
    border-top: 2px solid;
  }

  .Hatey li {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  }


  .space{
    height: 70px;
    width: 50px;
  }


  .socials img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    }

    .socials{
    display: flex;
    width: 450px;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid;
    box-shadow: 5px 5px #7903039a;
    }

    .socials1{
    display: flex;
    width: 450px;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 10px;
    border: 2px solid;
    box-shadow: 5px 5px #7903039a;
    }

    .socials1 img{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    }


    .quote{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    }

    .quote img{
        border-radius: 2em;
        border-style: groove;
        border-width: 20%;
        border-color: rgb(10,9,10);
    }

    .RMail , .Course , .barclays {
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: 2px solid;
        box-shadow: 5px 5px #7903039a;
    }

    .RM , .CA , .B{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .RM img , .CA img , .B img{
        width: 40%;
        margin-right: 20px;
        border-style: groove;
        border-width: 20%;
        border-color: rgb(10,9,10);
        border-radius: 1.2em;

      }

      .RM p , .CA p , .B p {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    }
      






  @media screen and (max-width: 390px) {
    nav {
      margin-top: 5px;
      display: flex;
      justify-content: space-evenly;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 135%;
    }
  
    .Marvel {
      margin-top: 100px;
    }
    .firstheading{
        text-align: center;
    }

    .Hatey{
        display: block;
        width: 350px;

    }

    .Likey{
        display: block;
        width: 350px;
    }

    .socials{
        width: 350px;
    } 
    .socials1{
        width: 350px;
    } 

    .quote img{
        width: 300px;

    }

    .RUN img{
        width: 400px;
        margin-left: 0;
    }


  }
  
